.App {
  text-align: center;
  background-color: lightblue;
  height: 200rem;
}

.dropdown {
  margin-bottom: 5px;
}

#item2 {
  margin: 10px;
}

#th2 {
  padding-top: 0px;
}

#reset {
  margin-top: 10px;
}

#zero {
  width: 25rem;
  height: 18rem;
  border: 5px solid black;
}

#one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60rem;
  height: 120rem;
}

#two {
  border: 5px solid black;
  height: 30rem;
  width: 25rem;
  vertical-align: top;
}

#four {
  height: 120rem;
}

.MovieItem {
  display: flex;
  background-color: lightblue;
  margin-bottom: 10px;
}

#bt {
  margin: 1rem;
}

